* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_con{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 130, 130);
    overflow-x: hidden;
}