// COLORS
$lightGray: #C3C3C3;
$allBlack:#1a1a1a;


// DESKTOP
$width: 900px;
$widthTablet: 600px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablet {
    @media (min-width: #{$widthTablet}) {
        @content
    }
}

@mixin desktop {
    @media (min-width: #{$width}) {
        @content
    }
}

@mixin landscape {
    @media screen and (min-width: 300px) and (max-width: 920px) and (orientation: landscape) {
        @content
    }
}